    PORT=3000
    SESSION_SECRET=32-character-session-seceret-here
    
    # Discord OAuth (optional)
    DISCORD_CLIENT_ID=
    DISCORD_CLIENT_SECRET=
    DISCORD_CALLBACK_URL=
    
    # Pterodactyl Panel (optional)
    PTERODACTYL_URL=
    PTERODACTYL_API_KEY=

    # Internal bot communication
    BOT_API_KEY="secure_internal_key"
    BOT_API_URL=